* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

.main-body-container {
 display: grid;

  
 
 
.containers {
  

}



.logo-container {


img {
  width: 33%;
  margin: 35px auto 25px 34px;
}

}

.image-container {

  
.img1 {
  display: block;
  width: 100%;
}


.img3 {
  display: none;
}


}
  

.main-content-container {
  height:fit-content;
  


.heading {
  padding-top: 50px;
  text-align: center;


p {
  font-size: 3rem;
  letter-spacing: 10px;


span {
  color: hsl(0, 36%, 70%) ;
  font-weight: 300;
}
}
}

}



.main-content {

  margin-top: 27px;
  p{
    color: hsl(0, 36%, 70%) ;
  text-align: center;
  line-height: 1.4;
  
  }
}



form {
  margin-top: 35px;
  text-align: center;
  padding-bottom: 60px;
  // max-width: 375px;
  position: relative;

  input {
    border:1px solid hsl(0, 93%, 68%)
    ;
    height: 50px;
    width: 87%;
    border-radius: 50px;
    padding-left: 20px;
    opacity: 40%;
    position: relative;
    // display: grid;
    // justify-content: center;
    // text-align: center;
    
    
  }
  ::placeholder {
    color: hsl(0, 36%, 70%);
  }


  .error-msg{
    display: block;
    position: absolute;
    right: 118px;
    top: 13px;

  }

  button {
    border: none;
    position: absolute;
    right: 6%;
    height: 50px;
    border-radius: 50px;
    min-width: 18%;
    background: linear-gradient(135deg,  hsl(0, 80%, 86%), hsl(0, 74%, 74%))  ;


    &:hover {
     box-shadow: 3px 3px 10px #aaa ;
    }

  }
}
}



















 

@import "./desktopview"

